.menu {
  display: flex;
  flex-direction: column;

  padding-bottom: 1.5rem;

  &:not(:last-of-type) {
    margin-bottom: 1.5rem;
    border-bottom: 1px dashed var(--app-border-color);
  }

  :global(.sidebar-menu-header) {
    font-weight: bold;

    padding: 0 1rem;
    margin-bottom: .5rem;
  }

  :global(.sidebar-menu-list) {
    display: flex;
    flex-direction: column;

    gap: .5rem;
  }

  &:global(.sidebar-menu-inline) {
    :global(.sidebar-menu-list) {
      flex-direction: row;
      flex-wrap: wrap;

      align-items: center;
    }
  }
}
