.item {
  display: flex;
  align-items: center;

  gap: .5rem;
  padding: 0 1rem;

  :global(.sidebar-menu-icon) {
    font-size: 1.1em;
    margin-bottom: -.1em;
  }

  :global(.sidebar-menu-badge) {
    border: 1px solid var(--border);
    border-radius: .25rem;

    font-size: .875em;
    font-weight: normal;
    color: #666;

    margin-left: auto;
    padding: 0 .25rem
  }

  &:global(.active) {
    font-weight: bold;
  }
}
