.tag {
  display: flex;
  align-items: center;

  border: 1px solid var(--border);
  border-radius: .25rem;
  padding: .125rem .25rem;

  gap: .5rem;

  &:not([disabled]) {
    cursor: pointer;
  }

  &:global(.active) {
    background-color: attr(data-color type(#{'<color>'}), var(--border));
  }

  &:global(.dark) {
    color: #fff;
  }

  :global(.sidebar-tag-icon) {
    font-size: 1.1em;
    margin-bottom: -.1em;
  }
}
