.form {
  &> fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  &:global(.form-bordered) {
    border: 1px dashed #ddd;
    border-radius: .5rem;
  }

  :global(.form-file-preview) {
    border: 1px dashed #ddd;
    border-radius: .5rem;
  }

  :global(.form-input-indicator) {
    color: #903;
    font-size: .625em
  }

  :global(.form-header) {
    display: flex;
    align-items: center;

    padding-bottom: 1rem;
    border-bottom: 1px dashed var(--border);

    :global(.form-title) {
      font-size: 1.75rem;
    }

    :global(.form-description) {
      font-size: 1.375rem;
      color: var(--muted-foreground);
    }

    :global(.form-actions) {
      margin-left: auto;
    }
  }
}
