.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: .5rem;

  cursor: pointer;

  border-radius: .5rem;
  border: 1px solid var(--border);
  padding: .375rem 1rem .5rem 1rem;

  &> svg {
    margin-bottom: -.125rem;
  }

  &:hover {
    background-color: var(--hover);
  }

  &:global(.primary) {
    background-color: var(--primary);
    color: var(--primary-foreground);

    &:hover {
      background-color: var(--primary-hover);
    }
  }

  &:global(.secondary) {
    background-color: var(--secondary);
    color: var(--secondary-foreground);

    &:hover {
      background-color: var(--secondary-hover);
    }
  }
}
