.item {
  display: grid;
  grid-template-columns: min-content min-content auto min-content;
  grid-auto-flow: row;

  gap: .5rem;

  padding: .5rem;

  &:not(:last-of-type) {
    border-bottom: 1px dashed var(--app-border-color);
  }

  :global(.todo-item-desc), :global(.todo-item-meta) {
    grid-column: 3;
  }

  &:global(.completed .todo-item-title) {
    text-decoration: line-through;
  }

  :global(.todo-item-pin) {
    color: var(--app-border-color);

    &:not(:disabled) {
      cursor: pointer;
    }

    &:global(.pinned), &:hover {
      color: currentColor;
    }
  }

  :global(.todo-item-check) {

  }

  :global(.todo-item-title) {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  :global(.todo-item-desc) {
    color: #222;
    margin-bottom: .25rem;
  }

  :global(.todo-item-meta) {
    display: flex;
    align-items: center;
    font-size: .875em;

    margin-bottom: .25rem;

    gap: 1rem;
    color: #666;

    &> div {
      display: flex;
      align-items: center;
      gap: .5rem;

      span {
        border: 1px solid var(--app-border-color);
        border-radius: .25rem;
        padding: 0 .25rem;
      }
    }
  }

  :global(.todo-item-actions) {
    grid-column: 4;
    grid-row: 1;
    align-self: center;
  }

  :global(.todo-item-action:not([disabled])) {
    cursor: pointer;
  }
}
