.item {
  &:global(.completed .todo-item-title) {
    text-decoration: line-through;
  }

  :global(.todo-item-title) {
    font-size: 1.0375em;
  }

  :global(.todo-item-desc) {
    color: #343434;
  }
}
