@import 'tailwindcss/index.css';

@theme inline {
  --font-sans: var(--font-andika);
  --default-font-family: var(--font-sans);
}

html { height:100% }
body { min-height:100% }

:root {
  --app-sidebar-width: 15rem;
  --app-navbar-height: 4rem;
  --app-footer-height: 5rem;

  --app-border-color: #ddd;
  --app-primary-color: #222;
  --app-primary-hover: #383838;

  --app-text-gradient: linear-gradient(180deg, #555555, #000000);
}

.gradient-text {
  background: var(--app-text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
