.footer {
  height: var(--app-footer-height, 5rem);
  margin-top: auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-top: 1px solid var(--border);

  :global(.footer-copyright) {
    display: flex;
    align-items: center;
    white-space: pre-wrap;
  }
}
