.intro {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;

  background-image: url('/hero-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;

  del {
    color: #444;

    text-decoration-line: line-through;
    text-decoration-style: wavy;
    text-decoration-color: #cc0000;
    text-decoration-thickness: .5rem
  }

  :global(.insert) {
    display: inline-block;
    width: 6ch;

    ins {
      position: absolute;
      top: -.75em;
      left: .25ch;
      color: var(--accent);

      text-decoration: none;
      transform: rotate(-7.5deg);
      transform-origin: 0 0;
    }
  }

  :global(.intro-container) {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;

    margin-top: 2rem;
    padding: var(--app-navbar-height, 4rem) min(12vw, 10rem);
  }

  :global(.intro-title) {
    position: relative;

    font-weight: 800;
    font-size: max(4rem, min(5vw, 6rem));
    line-height: 1.2;
    letter-spacing: -0.01em;

    text-align: center;
    margin-bottom: 1rem;
  }

  :global(.intro-subtitle) {
    display: flex;

    font-size:  max(2rem, min(2.5vw, 3rem));
    justify-content: center;

    margin-bottom: 3rem;
  }

  :global(.intro-text) {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: max(1.1rem, min(1.6vw, 1.875rem));
    letter-spacing: -0.01em;
    margin-bottom: 3rem;

    &> div {
      text-align: justify;
      border: 1px dashed #ddd;
      border-radius: .25rem;
      background-color: rgba(255, 255, 192, 0.75);

      padding: .25rem;
      margin-bottom: 1rem;
    }

    del {
      text-decoration-thickness: .25rem
    }
  }

  :global(.intro-attribution) {
    position: absolute;

    display: flex;
    align-items: baseline;
    gap: .25rem;
    font-size: .875rem;
    font-style: italic;

    color: #444;
    left: 1rem;
    bottom: 1rem;
  }

  :global(.intro-actions) {
    font-size: max(1.1rem, min(1.6vw, 1.875rem));
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  &:before {
    content: "alpha";
    position: absolute;
    right: -3.5rem;
    top: 3rem;
    font-size: 1.25rem;
    line-height: 1.375;
    padding: 0.375rem 6rem;
    background-color: rgba(204, 0, 0, 0.875);
    color: #ffffff;
    transform: rotate(45deg);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    z-index: 3;
  }
}
