.layout {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  :global(.layout-content) {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  :global(.layout-main) {
    height: calc(100% - var(--app-navbar-height));
    overflow: auto;
  }
}
