.main {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 2rem 3rem;

  // max-width: 96rem;

  p {
    font-size: 1.25rem;
    margin-bottom: 1rem;

    text-align: justify;

    &:last-of-type {
      margin-bottom: 2rem;
    }
  }

  &:global(.fullscreen) {
    min-height: 100vh;
  }

  &:global(:not(.fullscreen)) {
    min-height: calc(100% - var(--app-footer-height));
  }


  :global(.main-toolbar) {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;

    &:empty {
      display: none;
    }
  }

  :global(.main-title) {
    font-family: var(--font-schoolbell);
    font-size: 3rem;
    margin-bottom: 2rem;

    color: #903;
  }

  :global(.main-actions) {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: .5rem;
  }

}
