.navbar {
  position: relative;

  display: grid;
  grid-template-columns: auto auto;

  height: var(--app-navbar-height, 4rem);

  border-bottom: 1px solid var(--app-border-color);
  padding: 0 3rem;

  z-index: 1;

  :global(.sidebar-toggler) {
    font-size: 1.375rem;
  }

  :global(.navbar-left) {
    grid-column: 1;

    display: flex;
    gap: 1rem;
  }

  :global(.navbar-right) {
    grid-column: 2;

    display: flex;
    gap: 1rem;
    justify-content: end;
  }
}
