.container {
  position: relative;

  border-top: 1px dotted #00000015;
  border-left: 1px dotted #00000015;

  margin: 2rem;

  &:before {
    position: absolute;
    display: block;

    content: '';
    border: 1px dotted #00000015;
border-radius: 50%;
    left: -3.5em;
    top: -3.5em;
    height: 7em;
    width: 7em;
  }
}

.greetings {
  position: relative;
  display: inline-block;

  font-family: var(--font-schoolbell);
  font-size: max(2rem, min(3.5vw, 2.5rem));
  color: #903;

  padding: 0 1rem;
  margin-bottom: -1rem;

  transform: rotate(-10deg) translate(-.5rem, 0);
  transform-origin: 0;

  z-index: 99;
}

.not_found_text {
  position: relative;

  font-weight: 800;
  font-size: max(3rem, min(5vw, 4.5rem));
  line-height: 1.2;
  letter-spacing: -0.01em;

  padding: 1rem;
}

.not_found_shrug {
  position: relative;

  font-weight: 800;
  font-size: max(3rem, min(5vw, 4.5rem));
  line-height: 1.2;
  letter-spacing: -0.01em;

  color: #903;
  text-align: center;

  margin-bottom: 1rem;
}

.not_found_desc {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: max(1.375rem, min(2vw, 1.75rem));

  color: #666;
  line-height: 1.8;
  letter-spacing: -0.01em;

  padding: 1rem;
  margin-bottom: 1rem;

  p {
    text-align: justify;
    margin-bottom: 1rem;
  }
}

.not_found_actions {
  display: flex;
  justify-content: center;

  gap: 1rem;
}

